
<div class="row" data-reactid="419">
    <div class="col-sm-6" data-reactid="420">
      
<div class="panel-body" data-reactid="422">
    <p>Application: ecrans</p>
    <div class="text-right" class="text-right">
    <button class="btn btn-primary btn-sm" type="submit">Générer les composants</button>
    <button class="btn btn-primary btn-sm" type="submit">Chemins</button>
    <button class="btn btn-primary btn-sm" type="submit">Maintenir</button>
    <button class="btn btn-primary btn-sm" type="submit">Classer</button>
    </div>
     <select class="col-sm-12">
        
       <option value="tous"> Tous
       </option>
       <option value="object1"> object1
       </option>
       <option value="object2"> object2
       </option>

     </select>
     <!-- -->

     






   </div>
  
</div>

    <div class="col-sm-6" data-reactid="425">
      <div class="panel panel-default" data-reactid="421">
          <div class="panel-body" data-reactid="422">
             <p>desys: Ecran</p> 
              
              
             </div>
             </div></div>
            
</div>